{% extends "layouts/app.twig" %}

{% block content %}
<div class="container">
    <form class="form" action="/recapoftheday/store" method="post">
        <div class="form-block">
            <label for="center" class="form-label">Center</label>
            <select name="center" id="center" class="form-select">
                <option value="captive">Captive</option>
                <option value="saisons">Saisons</option>
            </select>
        </div>
        <div class="form-block">
            <label for="type" class="form-label">Type</label>
            <input name="type" type="text" class="form-text">
        </div>
        <div class="form-block">
            <label for="text" class="form-label">Text</label>
            <textarea name="text" id="text" class="form-textarea"></textarea>
        </div>
        <button class="button button-submit">save</button>
    </form>
</div>
<div class="container">
    {# <nav class="mb-1">
        <form method="post" action="/recapoftheday/destroy">
            <button class="button button-delete">Delete</button>
        </form>
        <button class="button button-export">Export</button>
    </nav> #}
    <table class="table">
        <thead>
            <tr>
                <th>Agent</th>
                {# <th>Type</th> #}
                <th>Center</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for recap in recaps %}
            <tr>
                <td>{{ recap['agent'] }}</td>
                {# <td>{{ recap['type'] }}</td> #}
                <td>{{ recap['center'] }}</td>
                <td>{{ recap['total'] }}</td>
            </tr>
            {% for item in dataTypesPerAgent(recap['agent'] , recap['center']) %}
            <tr>
                <td style="background-color: rgb(100, 231, 169);">Type</td>
                <td style="background-color: rgb(100, 231, 169);">{{ item['type'] }}</td>
                <td style="background-color: rgb(100, 231, 169);">{{ item['count'] }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}